@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.navbar {
    
    background-color: #1f2937;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family:'Roboto', sans-serif; 
    max-height: 1912px;
   /* display: flex;
    flex: 1;
    flex-direction: column;
    border: 5px solid red; */
}

.container {
    padding: 0 90px;
}
.logo {
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.nav {
    display: flex;
    list-style-type: none;
    font-size: 18px;
}

.nav li {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;

}

.header .container {
    display: flex;
    background-color: #1f2937 ;
    padding-top: 20px;
    padding-bottom: 60px;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

.head-img {
    width: 400px;
    height: 200px;
    margin-left: 30px;
}

.container .text {
    max-width: 500px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    border: none;
    margin-top: 8px;
}

.container .images {
    max-width: 200px;
    min-height: 150px;
    border: #3882f6 solid 5px;
    border-radius: 15px;
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 40px ;
}

.boxes {
    display: flex;
    justify-content: center; 
    margin-bottom: 50px;  
    gap: 50px
}

.middle .container {
    padding: 50px;
}


.box .text {
    max-width: 200px;
    text-align: center;
    color: #696c72;
}

.quote .container {
    display: flex;
    flex-direction: column;
   background-color: #e5e7eb;
   height: 500px;
   justify-content: center;
   align-items: center;
   flex: 1;



}

.container .quotes {
    font-size: 36px;
    font-style: italic;
    padding: 0 55px;
    max-width: fit-content;

}

.dote{
    max-width: 1200px;
}

.thor {
    display: flex;
    max-width: 1050px;
    justify-content: flex-end;
    font-weight: bold;
    font-size: large;
}

.leg {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
   padding: 40px;
   border-radius: 10px;
   margin: 90px 0;

}

.down-button {
    border: white 2px solid;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
}

.top-text {
    font-size: large;
    font-weight: bold;
    color: #f9faf8;
}

.bottom-text {
    color: #e5e7eb;
}

.foot-main {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    padding: 30px;
    align-items: center;

}